body{
    margin: 0px;
    padding: 0px;
}
#nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}
#nav>div:first-child{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(235, 231, 227, 0.566);
    /* position: fixed; */
}
#nav>div:first-child > img{
    width: 50px;
    height: 50px;
}
#nav>div:first-child > input{
    width: 60%;
    height: 40px;
    padding-left: 10px;
}
#nav>div:first-child > h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
#bnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-size: 20px;
    height: 50px;
}
#button {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropbtn{
    text-decoration: none;
    color: #000;
}
.dropbtn:hover{
    text-decoration: underline;
}
.dropdown {
    display: inline-block;
  }
.dropdown-content{
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;    
    z-index: 1;
    display: none;
}
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    padding-left: 30px;
    background-color: white;
    /* margin-top: 10px; */
}
.dropdown:hover .dropdown-content > div:first-child{
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 90px;
    text-decoration: underline;
}
.dropdown:hover .dropdown-content > div:last-child{
margin-right: 20px;
}
.dropdown:hover .dropdown-content > div{
    margin-top: 50px;
}
.ldropbtn{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.ldropbtn:hover{
    text-decoration: underline;
}
.ldropdown-content{
    position: absolute;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;    
    z-index: 1;
    display: none;
}
.ldropdown:hover .ldropdown-content{
    display: block;
    padding-left: 5px;
    padding-right:5px ;
    background-color: white;

}
.ldropdown-content  button:first-child{
    margin-top: 20px;
    width: 100%;
    background-color: #1976D2;
    border: none;
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    color: white;
}
#signup{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    /* border: none; */
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    color: #1976D2;
    border: 2px solid #1976D2;
}
#signup:hover{
    border: 3px solid #1565C0 ;
    cursor: pointer;
}
#login:hover{
    background-color:#1565C0 ;
    cursor: pointer;
}
#signup>a{
    color: #1565C0;
}
#login > a{
    color: white;
}
a{
    text-decoration: none;
}

#belowFooter>div{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);;
}
#belowFooter>div>div{
    padding-left: 40px;
    line-height: 30px;
}
.rightBorder{
    border-right: 1px solid gray;
}
#bfoot{
    display: flex;
    width: 80%;
    margin: auto;
}
#bfoot>img{
    width: 80px;
    height: 80px;
}
#qr>img{
    width: 60%;
    display: block;
    margin-bottom: 40px;
}
#fbinsta{
    align-items: center;
}
#condition{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    /* margin-bottom: 100px; */
}
#condition>a{
    color: #000;
}
.vertical{
    width: 0px;
    border: 1px solid #B0BEC5;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}
body>p{
    color: #78909C;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
#total{
    margin-top: 150px;
}

#cart-container{
    width: 90%;
    margin: auto;
    /* margin-top: 150px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#cart-container>div{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* padding-left: 10px; */
    padding-bottom: 20px;
}
#cart-container>div >div{
    width: 80%;
    /* height: 200px; */
    margin: auto;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 10px;
    padding: 15px;
}
#cart-container>div >div>img{
    width: 80%;
    display: block;
    margin: auto;
}
#cart-container h2{
    /* color: red; */
    padding-left: 20px;
}
#cart-container h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
#cart-container h3{
    padding-left: 20px;
}
.discount{
    text-decoration-line: line-through;
    margin-top: -15px;
}
#cart-container p{
    padding-left: 20px;
}
.discription{
    color: red;
}
.discription:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* #cart-container button{
    font-size: 25px;
    display: block;
    margin: auto;
    border: none;
    background-color: #1976D2;
    color: white;
    border-radius: 6px;
} */
/* #cart-container button:hover{
    background-color: #1565C0;
    cursor: pointer;
} */
#cart-container img:hover{
    transform: scale(1.1);
    z-index: 1;
}
h1{
    text-align: center;
}
h1:hover{
    text-decoration: underline;
    cursor:pointer;
}
.remove{
    font-size: 18px;
    padding: 10px 25px;
    display: block;
    margin: auto;
    margin-top: 15px;
    border: none;
    background-color: #c61b1b;
    color: white;
    border-radius: 6px;
}
.remove:hover{
    background-color: #ff0000;
    cursor: pointer;
}
#cart-container span{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
.incri{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 6px;
}
#pOrder{
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    /* border: none; */
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    color: #1976D2;
    border: 2px solid #1976D2;
}
#pOrder:hover{
    border: 3px solid #1565C0 ;
    cursor: pointer;
}